# API 服务器配置
PORT=3070
HOST=0.0.0.0
LOG_LEVEL=info
NODE_ENV=development

# 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USER=zero_user
DB_PASSWORD=123456
DB_NAME=zerodraw

#GITHUB OAuth配置
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=


# JWT 配置
JWT_SECRET=

#kimi api-key
KIMI_API_KEY=

#火山引擎对象存储
TOS_ACCESS_KEY=
TOS_SECRET_KEY=

#seedream api-key
SEEDREAM_API_KEY=

#https://grsai.com/zh
NANOBANANA_API_KEY=


#redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0


#api url
VITE_API_URL=http://localhost:3070
VITE_IMAGE_THUMBNAIL=/api/file/thumbnail
VITE_IMAGE_FILE=/api/file/s3
VITE_DOCS_URL=http://localhost:8000

#cloudflare
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_ACCOUNT_ID=
VITE_R2_URL=
VITE_R2_THUMBNAIL_URL=




#volc
BUCKET_NAME=