# API 服务器配置
PORT=3070
HOST=0.0.0.0
LOG_LEVEL=info
NODE_ENV=development

# 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USER=zero_user
DB_PASSWORD=123456
DB_NAME=zerodraw

#GITHUB OAuth配置
GITHUB_CLIENT_ID=Ov23lim2JDpZfclnzJ0w
GITHUB_CLIENT_SECRET=c64d34b3f1902436ea9a896ff5d65be29d59a7fc


# JWT 配置
JWT_SECRET=Ov23lim2JDpZfclnzJ0w

#kimi api-key
KIMI_API_KEY=sk-kimi-nY6EiyuKCkNZV5GJRx7ywrViof6OYW4CO69KUUOEby0tR61EpyRt9Qqgvj5PrwSe

#火山引擎对象存储
TOS_ACCESS_KEY=AKLTYWUwYTRlOTE4N2Q4NDZlNmEzMWVmNmRjOGYzNGNiZDM
TOS_SECRET_KEY=WkdFNE1ETmhZV1l4T1dWak5EWTBNemxoTW1RNFpXSmtOMkprWldZM1l6SQ==